LIVEBLOCKS_SECRET=sk_dev_nxhmSfyWF0U4bCvZW3l5VtCW2WIPRGDUH5b8DLs1zbPBhW3siiGnLcG3avu3-pJs
NEXT_PUBLIC_CONVEX_URL=https://ceaseless-chicken-127.convex.cloud
CONVEX_DEPLOYMENT=dev:ceaseless-chicken-127
CONVEX_DEPLOY_KEY=dev:ceaseless-chicken-127|018670f3dd33eff314a45e8ea426a70b7f2bc38c19801d6ac5a6291ecd57c9d15d3d7c4137fd0fa6b5a4625132d1d00237ee3f
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_c3VtbWFyeS1idWNrLTguY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_RpgmWlJwjbHNORZtOBOVMn5vQQwUHAA7sIlwbufm4D